
.stylizedMenu {
    background-color: black;
    font-family: 'Poppins', sans-serif;

}
.StylizedMSG {
    font-size: 50px !important;
} 

.logo {
    color: white;
    font-family: AnuDaw, sans-serif;
    
}
.Menu{
    color: white;
    background-color: black;
}